@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}

/* FONTS */
h1, h2, h3, a{
    font-family: 'Spectral', serif;
}


p{
    font-family: 'Poiret One', cursive;
}

:root{
    --primaryBackground: hwb(0 53% 6%);
    --secondaryBackground: hsl(0, 0%, 100%);
    --transparentBackground: hsla(0, 0%, 100%, 0.3);
    
    --primaryFont: black;
    --secondaryFont: hsl(0, 76%, 33%);
    --tertiaryFont: lavender;

    --undrawBlenheim: #FFB24A
    --undrawTricolor: 
}

[data-theme ='dark']{
    --primaryBackground: black;
    --secondaryBackground: grey;
    --transparentBackground: rgba(128, 128, 128, 0.3);
    
    --primaryFont: white;
    --secondaryFont: purple;
}



/* ----------------------------------- #1 SECTION: HEADER + FORM ----------------------------------------*/


.section{
    background-color: white;
    height: 100vh;
    width: 100vw;

}

#header{
    z-index: 1000;
    background-color: var(--transparentBackground)
}



a{
    width: 150px;
    text-align: center;
    border-bottom: 0.5px solid var(--secondaryFont);
    cursor: pointer;
}

a:hover{
    color: red;
    transition: 0.4s ease;
}




.toggleContainer{
    right: 30px;
    top: 10px;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.toggleTitle{
    color: var(--primaryFont);
}


.toggleLabel{
    background-color: var(--secondaryBackground);
    width: 50px;
    height: 25px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    
}

.toggleLabel input{
    display: none;
}

.slider{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.4s;
    border:1px solid grey;
}

.slider::before{
    background: var(--primaryBackground);
    bottom: 1px;
    content: " ";
    height: 20px;
    position: absolute;
    left: 0;
    top: 2px;
    transition: 0.4s;
    width: 20px;
}

input:checked + .slider::before{
    background-color: var(--secondaryBackground)
}

input:checked + .slider{
    background: black
}

input:checked + .slider::before{
    transform: translateX(30px);
    background-color: steelblue;
}

.slider.round{
    border-radius: 10px;
    background-color: transparent;
}

.slider.round::before{
    border-radius: 10px;
}


/* ----------------------------------- MOBILE NAVIGATION ----------------------------------------*/
 

#mobileNav{
    width: 100px;
    height: 30px;  
    top: 12px;
    left: 0;
    cursor: pointer;
}


.mobileNavigationContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: var(--transparentBackground);
    transform: translateX(-2000px);
    position: fixed;
    z-index: 1000;
    
}

.mobileNavLinksTable{
    display: flex;
    width: 100vw;
    justify-content: center;
   
}

.mobileNavLinksTable div{
    display: flex;
}

.mobileNavLinksTable div li{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    
}

.mobileNavLinksTable li a{
    border-bottom: 1px solid var(--secondaryFont)
}





@media(max-width: 1000px){
    .mobileNavLinksTable{
        
        transition: 1s ease;
        
    }

    .mobileNavLinksTable div{
      
    }

    .mobileNavLinksTable div li{
        font-size: 0.8rem;
        transition: 1s ease;
       /*border: 2px solid purple;*/
        width: 130px;
       
    }

}

@media(max-width: 900px){
    .mobileNavLinksTable div li{
       
        width: 120px;

    }

}

@media(max-width: 800px){
    .mobileNavLinksTable{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 200px;
        
       
        
    }

    .mobileNavLinksTable div{
    
      height: 50px;
       
    }

    .mobileNavLinksTable div li{
        font-size: 0.8rem;
        transition: 1s ease;
        width:120px;
        display: flex;
        
    }

   

}









/* ----------------------------------- #2 SECTION: FORM ----------------------------------------*/





.mainContainer{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 20px 0px;
    padding: 20px 0px;
    top: 12vh;
}




.formContainer{
    width: 100%;
    display: flex;
    height: 500px;
    justify-content: end;
    position: relative;
    align-items: center;
    background-color: var(--primaryBackground);
    box-shadow: 0px 0px 5px silver;
}

.form{
    background-color: var(--transparentBackground);
    width:100%;
    height: 100%;
    z-index: 100;
    box-shadow: 0px 0px 10px silver;
}

.subTitleForm{
    font-family: 'Playfair Display', serif;
   
}


label{
    color: var(--secondaryFont);
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 2px;
    background-color: var(--secondaryBackground);
    color: var(--primaryFont);
    padding: 4px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

input:focus{
    outline: none;
   
}


#signUpBtn{
    width: 100px;
    border: 1px solid var(--primaryFont);
    border-radius: 20px;
}

#signUpBtn:active{
    transform: scale(0.98);
    transition: 0.4s ease;
}



.imgContainer{
    box-shadow: 0px 0px 5px silver;
     height: 500px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
    /* background-image: url('/pictures/cavclub.jpg');
     background-size: cover;*/
     position: relative;
}
 
 .imgContainer::after {
     background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
     background-image: -moz-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
     background-image: -ms-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
     background-image: -o-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
     background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
     content: "\00a0";
     height: 100%;
     position: absolute;
     width: 100%;
 }
 
 #cavalierImg{
     width: 100%;
     height: 100%;
 }






@media (max-width: 1000px){
    .imgContainer{
        height: 500px;
    }
}

@media(max-width: 650px){
    .imgContainer{
        height: 300px;
    }
}






 /* ----------------------------------- #3 SECTION: ABOUT THE CAVALIER ----------------------------------------*/
#theCavalier{
    position: relative;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}



.space{
    height: 12vh;
    width: 100%;
     /*border: 2px solid turquoise;*/
}






.doubleSection{
    background-color: white;
    height: 200vh;
    width: 100vw;
}





.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
     /*border: 2px solid turquoise;*/
 
}

.aboutCavalierCardField{
    width: 100%;
    height: 20vh;
    display: flex;
}

.cardItem{
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid var(--primaryBackground);
    margin: 20px;
    padding: 10px;
   background-color: white;
    z-index: 10;
    
}

.cardItemParagraph{
    overflow: scroll;
    height: 550px;
}

.cardItem p{
    text-align: center;
    padding: 10px;
    line-height: 30px;
    
}

.cardItemTitle{
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imageAboutCavalierContainer{
    background-color: var(--transparentBackground);
    width: 100%;
    height: 60vh;
   
}

.imageAboutCavalier{
    width: 100%;
    height: 100%;
    background-image: url('/pictures/doggo3.jpg');
    background-size: cover;
    background-position: 0px -350px ;
    background-repeat: no-repeat;
   
}


@media (max-width: 1400px){
    .imageAboutCavalier{
        background-position: 0px -250px ;
        transition: 2s ease;
    }
}

@media (max-width: 1300px){
    .imageAboutCavalier{
        background-position: 0px -200px;
        transition: 2s ease;
    }
}

@media(max-width: 600px){
    .imageAboutCavalier{
        background-position: -150px -50px ;
        transition: 2s ease;
    }
}
.mobileCardItem{
    border-bottom: 0.5px solid var(--primaryBackground);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobileCardItem h1{
    padding: 2px 0px;
}

.mobileCardItem p{
    text-align: center;
   
    padding: 8px 10px 10px 10px;
    margin: 5px;
   
}

@media (max-width: 1000px){

    #theCavalier{
        height: 250vh;
    }

  .aboutCavalierCardField{
      display: none;
  }
    
  .imageAboutCavalierContainer{
      /*border: 2px solid turquoise;*/
      height: 70vh;
  }

  .imageAboutCavalier{
      background-position: 0px;
      opacity: 0.8;
  }

  .aboutCavalierMobile{
      /*border: 2px solid turquoise;*/
      height: 100vh;
  }

}

@media (max-width: 600px){
    .imageAboutCavalier{
        background-position: -100px;
        transition: 0.4s ease;
    }
}










/* -------------------------------------------------------------- #4 SECTION: ABOUT US------------------------------------------------------------- */







#aboutUsPointsContainer{
    width: 50vw;
    display: flex;
    padding: 0 0 0 40px;
}



.aboutUsPoints{
    border-bottom: 1px solid var(--primaryBackground);
    width: 90%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
    background-color: var(--transparentBackground);
}

#aboutUsDivContainer{
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutUsDiv{
    height: 49%;
    width: 48%;
    margin: 2px;
}


.aboutUsImgs{
    border-radius:20px;
    box-shadow: 1px 1px 10px silver;
}
#aboutUsImg1{
    background-image: url('/pictures/aboutUs.jpg');
    background-size: cover;

}

.counterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#undrawCommunity1{
    padding: 10px;
    width: 230px;
    height: 230px;
    margin: 20px 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px silver;
}

.counter{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
    margin: 10px;
}

















/* -------------------------------------------------------------- #5 SECTION: COMMUNITY ------------------------------------------------------------ */










.userContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 12vh;
}

.userImg{
    margin: 5px;
    box-shadow: 3px 3px 1px var(--primaryBackground);
    
}

.userName{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName h4{
   margin: 10px;
   border-bottom: 1px solid var(--primaryBackground);
}


.userName p{
    margin: 10px;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid var(--primaryBackground);
}

.userName a{
    border-bottom: 0.5px solid var(--primaryBackground);
    
    margin-bottom: 20px;
    width: 90%;
   
}